* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
#demo { width: 450px; }
#demoAudio { width: 100%; }
#demoList { margin-top: 10px; }
#demoList .song {
  padding: 10px;
  color: #9f9f9f;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
}
#demoList .song:first-child {
  border-top: 1px solid #e1e1e1;
}
#demoList .song.now {
  font-weight: 700;
  color: #333;
  background: #feffd9;
}
#demoList .song::before {
  content: "\2022";
  margin-right: 10px;
}
#demoList .song.now::before {
  content: "\27A4";
}
